@layer components {
    .zentrix-logo {
        --svg-fg: var(--color-foreground);
        --svg-bg: var(--color-background);
        --svg-ring-1: var(--color-primary);
        --svg-ring-2: var(--color-chart-2);
    }

    li.cn-toast {
        border-color: var(--oh-my-border) !important;
        color: var(--oh-my-text) !important;
    }
    li.cn-toast[data-type="info"] {
        --oh-my-border: var(--info-border);
        --oh-my-text: var(--info-text);
    }
    li.cn-toast[data-type="success"] {
        --oh-my-border: var(--success-border);
        --oh-my-text: var(--success-text);
    }

    li.cn-toast[data-type="warning"] {
        --oh-my-border: var(--warning-border);
        --oh-my-text: var(--warning-text);
    }
    li.cn-toast[data-type="error"] {
        --oh-my-border: var(--error-border);
        --oh-my-text: var(--error-text);
    }
}

@layer base {
    :root {
        overscroll-behavior: none;
    }

    img {
        pointer-events: none;
    }

    button[disabled] {
        pointer-events: auto !important;
        cursor: not-allowed !important;
    }

    button[disabled]:active {
        --tw-translate-y: 0px !important;
    }

    /* BetterScrollbar - Firefox */
    body * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-primary) var(--color-background);
    }

    /* BetterScrollbar - Chrome, Edge, Safari */
    body *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    body *::-webkit-scrollbar-track {
        background: var(--color-background);
    }

    body *::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 4px;
    }

    body *::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }
}
